{% extends "base.html" %} {% load static %} {% block page_header %}

<!--Header Container-->

<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>

{% endblock %} {% block content %}

<!--Main Page Text-->

<div class="container text-center">
  <div class="row">
    <div class="col-12">
      <h1 class="display-5 hero-font">
        ORIGINAL & VINTAGE JERSEYS
      </h1>

      <hr class="hr-hero-font" />

      <p>
        At RetroKings we sell authentic, original jerseys from the biggest
        sports on the planet.&nbsp;
      </p>

      <p>
        Check out our store to see classic jerseys across Soccer, MLB, NFL, NBA,
        NHL and More
      </p>

      <h4>
        <a
          href="/"
          class="shop-all-btn btn btn-lg rounded text-uppercase font-weight-bold py-3"
          >Shop All</a
        >
      </h4>
    </div>
  </div>
</div>

<!--Jersey Selection Cards-->

<div class="container-fluid">
  <div class="card-deck">
    <div class="card img-hover-zoom">
      <img
        src="{% static 'logo/RetroKingsLogo.png' %}"
        class="card-img-top"
        alt="..."
      />
      <h5 class="text-center">International Soccer Jerseys</h5>
    </div>
    <div class="card img-hover-zoom">
      <img
        src="{% static 'logo/RetroKingsLogo.png' %}"
        class="card-img-top"
        alt="..."
      />
      <h5 class="text-center">Club Soccer Jerseys</h5>
    </div>
    <div class="card img-hover-zoom">
      <img
        src="{% static 'logo/RetroKingsLogo.png' %}"
        class="card-img-top"
        alt="..."
      />
      <h5 class="text-center">Baseball Jerseys</h5>
    </div>
  </div>

  <div class="card-deck">
    <div class="card img-hover-zoom">
      <img
        src="{% static 'logo/RetroKingsLogo.png' %}"
        class="card-img-top"
        alt="..."
      />
      <h5 class="text-center">Ice Hockey Jerseys</h5>
    </div>
    <div class="card img-hover-zoom">
      <img
        src="{% static 'logo/RetroKingsLogo.png' %}"
        class="card-img-top"
        alt="..."
      />
      <h5 class="text-center">American Football Jerseys</h5>
    </div>
    <div class="card img-hover-zoom">
      <img
        src="{% static 'logo/RetroKingsLogo.png' %}"
        class="card-img-top"
        alt="..."
      />
      <h5 class="text-center">Basketball Jerseys</h5>
    </div>
  </div>
</div>

<!--Image Carousel-->




{% endblock %}
