/*-------------------------------------Base-------------------------------------------*/

html {
    height: 100%;
}

/* Homepage Image */

body {
    background: url('/media/jersey-home-background.jpg') no-repeat center 80%;
    background-size: contain; 
    color: #000000;
    font-family: 'Old Standard TT', serif;
}

/*-------------------------------------Navbar-------------------------------------------*/

/* Nav Logo */

.navbar-logo {
    height: 10rem;
}

.main-logo-link {
    width: fit-content;
}

.navbar {
    background-color: #d4af37;
    padding: 0.05rem;
}

.text-dark {
    color: #d4af37 !important; /* use important to override text color on bag total */
}

/* Hover effect on icons in navbar */

.fa-shopping-bag:hover,
.fa-user:hover,
.fa-search:hover {
    color: #D4AF37;
}

/* To override Bootstrap default for text color */

.text-black {
    color: #000 !important;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.bg-black {
    background: #000 !important;
}

/* Search Box */

.searchbox {
    background: linear-gradient(to left, rgb(255, 255, 255),rgb(212,175,55,0.4));
}

.btn-black {
    background: black;
    color: white;
}

/*--------------------------------Login & Signout Pages------------------------------------*/

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    
}

/*-------------------------------------Homepage-------------------------------------------*/

/* Homepage Header & Paragraph */

.hr-hero-font {
    background-color: #D4AF37;
    padding: 0.03rem;
    width: 25%;
}

.hr-jersey-card {
    background-color: #D4AF37;
    margin-top: 2rem;
}

/* Shop All button on homepage */

.shop-all-btn {
    background: #D4AF37;
    color: #000000;
    margin: 2rem;
}

.shop-all-btn:hover {
    background: #000000;
    color: #D4AF37;
}

/* Image Cards */

.card-deck {
    padding: 2rem;
}

.jersey-header {
    margin-top: 1rem;
}

/* Zoom Effect On Card Images */

.img-hover-zoom {
  overflow: hidden;
}

.img-hover-zoom img {
  transition: transform 1.5s ease;
}

.img-hover-zoom:hover img {
  transform: scale(1.1);
}

/* Dropshadow Effect On Card Images */

.card {
  background: linear-gradient(to top, rgb(255, 255, 255),rgba(212, 175, 55, 0.13));
  padding: 1rem;
  margin: 1rem;
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
  box-shadow:  0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
  border: 30px solid white;
}

/* Carousel */

#retro-image-carousel {
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 5rem;
    color: #000000;
}

.img-fluid-carousel {
    height: 675px;
}

.carousel-header {
    font-size: 3rem;
    margin-top: 3rem;
}

.hr-carousel-header {
    background-color: #D4AF37;
}

.carousel-p {
    margin-bottom: 2rem;
}

/*-------------------------------------Products-------------------------------------------*/

/* Hides the background image */

.overlay {
    height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

.products-header {
    margin-top: 3rem;
}

.products-row {
    margin-bottom: 3rem;
}

/* Category Buttons */

.category-badge {
    background-color: #D4AF37; 
    color: #000000;
}

.category-badge:hover {
    background-color: #000000; 
    color: #D4AF37;
}

/* Products Home Link - Products Page */

.products-home-link {
    color: #000000;
    font-weight: bolder;
    font-size: 1rem;
}

.products-home-link:hover {
    color: #D4AF37;
}

/* Back To Top Button - Products Page */

.btt-button {
    height: 42px;
    width: 42px;
    background-color: #D4AF37;
    margin-bottom: 3.5rem;
    border-radius: 2rem;
}

.btt-button:hover {
    background-color: #000000;
    color:  #D4AF37;
}

/* Product Details Keep Shopping & Add To Cart Buttons */

.btn-gold {
    background: #D4AF37;
    color: black !important; /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

.btn-gold:hover {
    background: #ffffff;
    color: #D4AF37 !important;
}

.btn-black {
    background: #000000;
    color: #D4AF37; 
    border: 1px solid black;
}

.btn-black:hover {
    background:#ffffff;
    color:  #000000;
}

/*Cursor */

.btt-link,
.update-link,
.remove-item {
    cursor: pointer; /* Changes cursor by default on hover */
}

/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

/* Change colour of stars in product reviews */
.checked {
  color: orange;
}

/*-------------------------------------Bag-------------------------------------------*/

.summary-header {
    background-color: #e7e7e7;
}

.update-item,
.remove-item:hover {
    color: #D4AF37;
}

/* Toasts */

.message-container {
    position: fixed;
    top: 8rem;
    right: 0.5rem;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/*-------------------------------------Footer-------------------------------------------*/

.page-footer {
    background-color: #000000;
}

.list-inline-item,
.copyright,
.footer-icon,
.footer-name {
    color: #D4AF37;
}

.footer-name {
    text-decoration: underline;
}

.footer-icon:hover {
    color: #ffffff;
}

.footer-info {
    color: #ffffff;
}

.footer-link {
    color: #ffffff;
}

.footer-link:hover {
    color: #D4AF37;
}

.name {
    color: #ffffff;
    
}

.name:hover {
    color: #D4AF37; 
    outline: none;
}

/*-----------------------------------Media Queries----------------------------------------*/

/*-----------------------------Larger Screens-----------------------------*/

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 350px;
    }
 
}

/*-----------------------------Large Tablet Devices-----------------------------*/

@media screen and (min-width: 991px) and (max-width: 1034px) {
    body {
    background: url('/media/jersey-home-background.jpg') no-repeat center 20%;
    background-size: contain; 
    color: #000000;
    font-family: 'Old Standard TT', serif;
    }

    .header-container {
    padding-top: 225px;
    }

    .img-fluid-carousel {
        height: 500px;
    }

    .footer-info {
        font-size: 0.75rem;
    }

}

/*-----------------------------Tablet Devices-----------------------------*/

/* To fix background image display on tablet devices */

@media screen and (min-width: 768px) and (max-width: 991px) {

    body {
    background: url('/media/jersey-home-background.jpg') no-repeat center 10%;
    background-size: contain; 
    color: #000000;
    font-family: 'Old Standard TT', serif;
    }

    .header-container {
        padding-top: 225px;
    }

    .home_header {
        font-size: 1.5rem;
    }

    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
        margin-left: 0.6rem;
    }

    /* Toasts */

    .message-container {
    position: fixed;
    top: 2rem;
    right: 0.8rem;
    z-index: 99999999999;
}

    .img-fluid-carousel {
        height: 350px;

    }

    .footer-info {
        font-size: 0.75rem;
    }

}

/*-----------------------------Mobile Devices-----------------------------*/

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 767px) {

    .nav-link {
        padding: 0.15rem;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }

    /* Fix for nav dropdown on My account on mobile view */

    .dropdown-menu {
        min-width: 5rem;
    }  

    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
        margin-left: 0.4rem;
    }

    #delivery-banner h6 {
        font-size: 0.8rem;
    }

    .btn.btn-black.rounded-0 {
        padding: .400rem .375rem;
    }

    .btn.btn-gold.rounded-0 {
        padding: .375rem .375rem;
        font-size: .75rem;
    }

    .btn.btn-gold.rounded-0.btn-lg,
    .btn.btn-black.rounded-0.btn-lg {
        padding: .375rem .375rem;
        
    }

    .increment-qty, .decrement-qty {
        padding: .25rem .5rem !important;
    }

    .img-fluid-carousel {
        height: 175px;

    }

    .carousel-header {
        font-size: 2rem;
    }

    body {
    background: url('/media/jersey-home-background.jpg') no-repeat center 15%;
    background-size: contain; 
    color: #000000;
    font-family: 'Old Standard TT', serif;
    }

    .header-container {
        padding-top: 150px;
    }

    .home_header {
        font-size: 1.3rem;
    }

    /* Toasts */

   .message-container {
    position: fixed;
    top: 2rem;
    right: 0.1rem;
    z-index: 99999999999;
}

}

