/*-------------------------------------Homepage/Base-------------------------------------------*/

html {
    height: 100%;
}

/* Homepage Image */

body {
    background: url('/media/jersey-home-background.jpg') no-repeat center center;
    background-size: contain; 
    height: calc(100vh - 100px);
    color: #000000;
    font-family: 'Old Standard TT', serif;
}

/* Homepage Header & Paragraph */

.hero-text {
    position: absolute;
    top: 75%;
}

.hr-hero-font {
    background-color: #D4AF37;
}

/* Shop All button on homepage */

.shop-all-btn {
    background: #D4AF37;
    color: #000000;
}

.shop-all-btn:hover {
    background: #000000;
    color: #D4AF37;
}

/* Image cards on homepage */

.card-deck {
    margin: 2rem;
    margin-top: 5rem;
}


/*-------------------------------------Navbar-------------------------------------------*/

/* Nav Logo */

.navbar-logo {
    height: 10rem;
}

.main-logo-link {
    width: fit-content;
}

#main-nav {
    margin-top: -3rem;
}

.navbar {
    background-color: #d4af37;
    padding: 0.05rem;
}

/* Hover effect on icons in navbar */

.fa-shopping-bag:hover,
.fa-user:hover,
.fa-search:hover {
    color: #D4AF37;
}

/* To override Bootstrap default for text color */

.text-black {
    color: #000 !important;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.bg-black {
    background: #000 !important;
}

/* Search Box */

.border-black {
    border: 1px solid black !important;
    background: linear-gradient(to left, rgb(255, 255, 255),rgb(212,175,55,0.4));
}

.btn-black {
    background: black;
    color: white;
}

/*-----------------------------------Media Queries----------------------------------------*/

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}