/*-------------------------------------Base-------------------------------------------*/

html {
    height: 100%;
}

/* Homepage Image */

body {
    background: url('/media/jersey-home-background.jpg') no-repeat center 60%;
    background-size: contain; 
    color: #000000;
    font-family: 'Old Standard TT', serif;
}

/*-------------------------------------Navbar-------------------------------------------*/

/* Nav Logo */

.navbar-logo {
    height: 10rem;
}

.main-logo-link {
    width: fit-content;
}

.navbar {
    background-color: #d4af37;
    padding: 0.05rem;
}

/* Hover effect on icons in navbar */

.fa-shopping-bag:hover,
.fa-user:hover,
.fa-search:hover {
    color: #D4AF37;
}

/* To override Bootstrap default for text color */

.text-black {
    color: #000 !important;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.bg-black {
    background: #000 !important;
}

/* Search Box */

.border-black {
    border: 1px solid black !important;
    background: linear-gradient(to left, rgb(255, 255, 255),rgb(212,175,55,0.4));
}

.btn-black {
    background: black;
    color: white;
}

/*-------------------------------------Homepage-------------------------------------------*/

/* Homepage Header & Paragraph */

.hero-font{
    margin-top: 12rem;
}

.hr-hero-font {
    background-color: #D4AF37;
    padding: 0.03rem;
    width: 25%;
}

.hr-jersey-card {
    background-color: #D4AF37;
    padding: 0.03rem;
    width: 25%;
}

/* Shop All button on homepage */

.shop-all-btn {
    background: #D4AF37;
    color: #000000;
    margin: 2rem;
}

.shop-all-btn:hover {
    background: #000000;
    color: #D4AF37;
}

/* Image Cards */

.card-deck {
    padding: 2rem;
}

.jersey-header {
    margin-top: 1rem;
}

/* Zoom Effect On Card Images */

.img-hover-zoom {
  overflow: hidden;
}

.img-hover-zoom img {
  transition: transform 1.5s ease;
}

.img-hover-zoom:hover img {
  transform: scale(1.1);
}

/* Dropshadow Effect On Card Images */

.card {
  background: linear-gradient(to top, rgb(255, 255, 255),rgba(212, 175, 55, 0.13));
  padding: 1rem;
  margin: 1rem;
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
  box-shadow:  0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
  border: 30px solid white;
}

/* Carousel */

#retro-image-carousel {
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 5rem;
    color: #000000;
}

.img-fluid {
    height: 675px;
}

.carousel-header {
    font-size: 3rem;
    margin: 3rem;
}

.carousel-p {
    margin-bottom: 2rem;
}

/*-------------------------------------Products-------------------------------------------*/

/* Hides the background image */

.overlay {
    height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

.products-header {
    margin-top: 3rem;
}

.products-row {
    margin-bottom: 3rem;
}

.category-badge {
    background-color: #D4AF37; 
    color: #000000;
}

.category-badge:hover {
    background-color: #000000; 
    color: #D4AF37;
}


/*-------------------------------------Footer-------------------------------------------*/

.page-footer {
    background-color: #000000;
}

.list-inline-item,
.copyright,
.footer-icon,
.footer-name {
    color: #D4AF37;
}

.footer-name {
    text-decoration: underline;
}

.footer-icon:hover {
    color: #ffffff;
}

.footer-info {
    color: #ffffff;
}

.footer-link {
    color: #ffffff;
}

.footer-link:hover {
    color: #D4AF37;
}

.name {
    color: #ffffff;
    
}

.name:hover {
    color: #D4AF37; 
    outline: none;
}



/*-----------------------------------Media Queries----------------------------------------*/

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
    
}
