{% extends 'base.html' %} 
{% load static %}
 
{% block title %} 404 Error Page {% endblock %} 

{% block content %}
<div class="overlay"></div>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="page-title text-center mt-3">404 Page Error</h1>
    </div>
    <div class="col-sm-12 text-center">
      <h1>OOPS.... Something has gone wrong</h1>
      <p>Looks like you have encountered an error. Please get in touch by using the contact page
      Make sure to tell us as much information as possible as to how you got to this problem so we can get working on the fix right away! <span>Thank you.</span></p>
      <p>Let's take you</p>
      <!--Button-->
      <a href="{% url 'home' %}" class="btn btn-gold btn-lg" role="button"
        >Home <i class="fas fa-home"></i
      ></a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center brand-img">
      <img
        class="img-fluid"
        src="{% static 'logo/RetroKingsLogo.png' %}"
        alt="RK Logo"
      />
    </div>
  </div>
</div>

{% endblock %}
