<div class="container-fluid mt-2"> 
        <div class="row">
            <div class="col-12">
                <div class="product-reviews">
                    <h2 class="text-center text-black">Product Reviews</h2>
                    <hr class="hr-hero-font">
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="card text-center align-items-center">
                    <div class="card-body">
                    <h3 class="text-center">Reviews</h3>
                    <hr class="hr-hero-font">
                        {% if reviews %}
                        {% for review in reviews %}
                        <div class="card-container">
                            <div class="review-card rounded">
                                <div class="review-card-header">
                                    <h4 class="text-center text-black d-inline-block"><i class="fas fa-user d-block"></i></h4>
                                    <h5 class="review-user text-center text-black">{{review.user}}</h5>
                                </div>
                                <p class="text-center">{{review.comment}}</p>
                                <div class="review-rating mb-3">
                                <span class="fa fa-star{% if review.rating < 1 %}-o empty{% endif %} checked"></span>
                                <span class="fa fa-star{% if review.rating < 2 %}-o empty{% endif %} checked"></span>
                                <span class="fa fa-star{% if review.rating < 3 %}-o empty{% endif %} checked"></span>
                                <span class="fa fa-star{% if review.rating < 4 %}-o empty{% endif %} checked"></span>
                                <span class="fa fa-star{% if review.rating < 5 %}-o empty{% endif %} checked"></span>
                                </div>
                                {% if review.user == request.user %}
                                <div class="button-wrapper pb-5">
                                    <a class="btn btn-black" href="{% url 'edit_review' product.id %}" aria-label="edit button">Edit</a>
                                    <a class="btn btn-gold" href="{% url 'delete_review' product.id %}" aria-label="delete button">Delete</a> 
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}
                        {% else %}
                        <p class="text-black">Be the first person to leave a review on this product.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 mb-5">
                <div class="card">
                    <div class="card-body">
                    <h3 class="text-center text-black">Leave a review</h3>
                    <hr class="hr-hero-font">
                    {% if review_form  %}
                    <form action="{% url 'add_review' product.id %}" method="POST" class="text-center text-black">
                        <div class="col-12 col-lg-8 offset-lg-2">
                            {% csrf_token %}
                            {{ review_form }}
                        </div>
                        <div class="col-sm-12 col-12 text-center">
                            <button class="btn btn-gold mt-3" id="reviewbutton">Post review</button>
                        </div>
                    </form>
                    {% elif review and not review_form %}
                    <p class="text-black text-center">Thank you for reviewing this product, you can edit it in the reviews section.</p>
                    {% else %}
                    <p class="text-black text-center">You must be logged in and have made a purchase to leave a review.</p>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
</div>